.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.card-text {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.display-4 {
    text-align: center;
}

body {
    padding-top: 56px;
}