.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.card {
    padding-top: 5px;
    margin: 20px;
}
.card-text {
    text-align: center;
}

.display-4 {
    text-align: center;
}

body {
    padding-top: 56px;
}