.body {
    text-align: center;
}

#snap {
    padding: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }

.card {
    margin-top: 5px;
    padding-left: 25%;
    padding-right: 25%;
}
#canvas {
    text-align: center;
    display: block;
}

#content {
    margin-top: 5rem;
}

