.display-3 {
    text-align: center;
}

body {
    padding-top: 56px;
}

.card-img-topBanana {
    padding-top: 20px;
    width: 100%;
    height:auto;
}

.card-titleBanana {
    padding-top: 30px;
}

.card-img-topAvocado {
    padding-top: 20px;
    width: 100%;
    height:auto;
}

.card-titleAvocado {
    padding-top: 44px;
}

.card-img-topStrawberries {
    padding-top: 20px;
    width: 100%;
    height:auto;
}

.card-titleStrawberries {
    padding-top: 80px;
}