h1 {
    border: 2px #eee solid;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    padding: 10px;
}

h2 {
    color: rgb(255, 255, 255);
    padding: 10px 10px;
}

body {
    background-color: grey;
}

p {
    border: 2px #eee solid;
    padding: 10px 15px;
    background-color: white;
    text-align: center;
    padding: 10px;
}