<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}">
    <title>Bananalizer</title>
</head>
<body>
   <h1>Welcome to Bananalyzer</h1>
   <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li>Camera</li>
   </ul>
   <h2>Camera</h2>
   <p> Ideally we will input some sort of camera here and it will look splendid, like an application
   </p>
</body>
</html>