<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Bananalizer</title>
</head>
<body>
   <h1>Welcome to Bananalyzer</h1>
   <ul>
       <li>Home</li>
       <li><a href="{{ url_for('about') }}">About</a></li>
       <li><a href="{{ url_for('camera') }}">Camera</a></li>
   </ul>
   <h2>Home</h2>
   <p> This project's intent is to use neural networks, image processing, and app development to determine the ripeness of fruit
       and provide data to help customers make more informed decisions purchasing produce. To learn more, navigate to the About tab.
   </p>
</body>
</html>